[run]
branch = True
parallel = True
source =
  _stories
  stories
  aioapp
  app
  examples
  helpers
  mddoctest
  tests

[paths]
source =
  .tox/py36/lib/python3.6/site-packages
  .tox/py37/lib/python3.7/site-packages
  .tox/py38/lib/python3.8/site-packages
  .tox/doctest/lib/python3.8/site-packages
