[run]
branch = True
parallel = True
source =
  _stories
  stories
  django_project
  examples
  helpers
  mddoctest
  tests

[paths]
source =
  .tox/py27-cerberus/lib/python2.7/site-packages
  .tox/py35-cerberus/lib/python3.5/site-packages
  .tox/py36-cerberus/lib/python3.6/site-packages
  .tox/py37-cerberus/lib/python3.7/site-packages
  .tox/py38-cerberus/lib/python3.8/site-packages
  .tox/py27-marshmallow2/lib/python2.7/site-packages
  .tox/py35-marshmallow2/lib/python3.5/site-packages
  .tox/py36-marshmallow2/lib/python3.6/site-packages
  .tox/py37-marshmallow2/lib/python3.7/site-packages
  .tox/py38-marshmallow2/lib/python3.8/site-packages
  .tox/py35-marshmallow3/lib/python3.5/site-packages
  .tox/py36-marshmallow3/lib/python3.6/site-packages
  .tox/py37-marshmallow3/lib/python3.7/site-packages
  .tox/py38-marshmallow3/lib/python3.8/site-packages
  .tox/py36-pydantic/lib/python3.6/site-packages
  .tox/py37-pydantic/lib/python3.7/site-packages
  .tox/py38-pydantic/lib/python3.8/site-packages
  .tox/doctest/lib/python3.8/site-packages
