[flake8]
max-line-length = 88
ban-relative-imports = True
exclude =
  .tox
  migrations
  node_modules
per-file-ignores =
  *.py: A003
  # Ignore E800 until https://github.com/myint/eradicate/pull/19 is merged
  ./src/_stories/contract.py: E800
  ./tests/*: S, E800
accept-encodings = utf-8
max-cognitive-complexity = 30
max-expression-complexity = 10