*.egg-info
*.ipynb
*.lock
*.pyc
*~
.coverage
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
[#]*[#]
__pycache__/
build/
dist/
htmlcov/
node_modules/
package-lock.json
pip-wheel-metadata/
site/
