[importlinter]
root_package = _stories
include_external_packages = True

[importlinter:contract:1]
name = Private package can not import from public package
type = forbidden
source_modules = _stories
forbidden_modules = stories
