---
trigger:
  - master
jobs:
  - job: "Test"
    pool:
      vmImage: "ubuntu-latest"
    strategy:
      matrix:
        precommit:
          python.version: "3.8"
          tox.env: precommit
        py27:
          python.version: "2.7"
          tox.env: py27
        py35:
          python.version: "3.5"
          tox.env: py35
        py36:
          python.version: "3.6"
          tox.env: py36
        py37:
          python.version: "3.7"
          tox.env: py37
        py38:
          python.version: "3.8"
          tox.env: py38
        flake8:
          python.version: "3.8"
          tox.env: flake8
        bandit:
          python.version: "3.8"
          tox.env: bandit
        mypy:
          python.version: "3.8"
          tox.env: mypy
        importlint:
          python.version: "3.8"
          tox.env: importlint
        mkdocs:
          python.version: "3.8"
          tox.env: mkdocs
        doctest:
          python.version: "3.8"
          tox.env: doctest
        remarklint:
          python.version: "3.8"
          tox.env: remarklint
        yamllint:
          python.version: "3.8"
          tox.env: yamllint
        jscpd:
          python.version: "3.8"
          tox.env: jscpd
        commitlint:
          python.version: "3.8"
          tox.env: commitlint
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: $(python.version)
        displayName: Install Python.
      - script: pip install --upgrade tox codecov
        displayName: Install Tox.
      - task: NodeTool@0
        inputs:
          versionSpec: "10.x"
        condition: in(variables['tox.env'], 'remarklint', 'jscpd')
        displayName: Install NodeJS.
      - script: |
          git remote set-branches origin master
          git fetch --unshallow --quiet
          git checkout master --quiet
          git checkout - --quiet
        condition: in(variables['tox.env'], 'commitlint')
        displayName: Unshallow commit log.
      - script: tox -e $(tox.env)
        displayName: Run Tox.
      - script: |
          if [ -f .coverage ]
          then
            codecov
          fi
        env:
          CODECOV_TOKEN: $(codecov.token)
        displayName: Report Coverage.
